.form-control.ng-invalid:focus {
  box-shadow: 0px 0px 0px 0.2rem rgba(237, 68, 68, .25);
}

.form-control.ng-invalid {
  border: 1px, solid #dc3545;
}

button {
  margin-top: 20px;
}

h5 {
  margin-top: 40px;
}

th {
  font-weight: 500;
}
